@import "../../mixins.scss";

.hotelCard {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid lightgray;

  .packCardImg {
    height: 220px;
    width: 100%;

    span {
      height: 100%;
      width: 100%;
    }
    .posterImg {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0px 0px;
    }
  }

  .packCardContent {
    padding: 10px;
    // background-color: white;

    .packCardTitle {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: flex-start;
      gap: 6px;

      h2 {
        font-size: 14px;
        font-weight: 600;
        width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 0;
      }
      p {
        font-size: 12px;
        font-weight: 500;
        padding: 4px 4px;
        // color: #e73c34;
        // border: 1px solid #e73c34;
        // border-radius: 4px;
        display: flex;
        gap: 3px;
      }
    }

    .packCardAddress {
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        font-size: 14px;
        margin-top: 8px;
        font-weight: 500;
      }
    }

    .roomInclusion {
      margin: 6px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 12px;
        font-weight: 500;
        // color: white;
        padding: 2px 5px;
        border-radius: 5px;
        .cancel {
          color: rgb(91, 182, 91);
          border: 1px solid rgb(91, 182, 91);
        }
        .breakinclude {
          color: var(--primary);
          border: 1px solid var(--primary);
        }
      }
    }
    .packCardPrice {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;
      gap: 10px;

      > div {
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;

        span {
          opacity: 0.7;
        }
      }

      h2 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
      }
      span {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
      }
      button {
        font-size: 13px;
        font-weight: 500;
        padding: 7px 14px;
        word-wrap: nowrap;
        color: #fff;
        background-color: var(--primaryHotel);
        border: 1px solid var(--primaryHotel);
        border-radius: 4px;
        white-space: nowrap;
      }
    }

    .packCardInclusions {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: #fcf4ff;
      padding: 10px;
      border-radius: 12px;
      gap: 10px;
      margin-top: 12px;

      p {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 13px;
      }

      .inclusionMainBox {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        h6 {
          font-size: 12px;
          font-weight: 500;
          text-align: right;
          margin-bottom: 0 !important;
          width: 80px;
          color: #e73c34;
          font-family: "Montserrat";
        }
      }

      .inclusionIcons {
        display: flex;
        flex-direction: row;
        gap: 6px;
        width: 100%;
        justify-content: flex-start;
      }

      .inclusionIcons > div {
        line-height: 12px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
      }
      .inclusionIcons > div > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        align-items: center;
      }

      .inclusionIcons p {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 0 !important;
      }
    }
  }
}
