.mapp a {
    color: #d90429;
    text-decoration: none;
    font-weight: 600;
}


.hotelGalleryBox {
    border-radius: 10px;
    height: 400px;

}

.hotelGalleryBox img {
    border-radius: 10px;
    height: 400px !important;
    object-fit: unset !important;


}


.breakCancel {
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* width: ; */
}

.breakCancel .brcl1 {
    font-size: 12px;
    font-weight: 600;
    color: rgb(19, 94, 19);
}

.breakCancel .brcl2 {
    font-size: 12px;
    font-weight: 600;
    color: rgb(155, 14, 14);
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 400px !important;
}


.hotelGalleryBox .image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
    height: 54px !important;
    width: 60px;
}


.bookDetail p {
    font-weight: 600;
    margin-bottom: 10px;
}


.selCount input::placeholder {
    color: #3f454a;
}


.GrnButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.GrnButton button {
    padding: 18px 50px;
    border-radius: 10px;
    border: none;
    background-color: #e73c34;
    color: white;

}


.propertyRulesBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.propertyRulesBox .prOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #3f454a;
}

.propertyRulesBox .prTwo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.propertyRulesBox .prTwo p {

    font-weight: 600;
    color: #3f454a;
    margin-bottom: 10px;
}


.othInc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
}

.othInc span {
    padding: 2px 8px;
    border: 1px solid green;
    border-radius: 3px;
    color: rgb(3, 87, 3);
    background-color: rgba(171, 247, 171, 0.521);
}