@import "../../../mixins.scss";

.HoliCateHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  text-transform: capitalize;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    h5 {
      margin-bottom: 0 !important;
    }
  }

  p {
    margin-bottom: 0 !important;
    font-weight: 600;
  }
  img {
    width: 30px;
    // margin-right: 8px;
  }
}

.paddHotCountries {
  padding: 25px;
  border-radius: 10px;
  // margin-bottom: 45px;
  overflow-x: hidden;

  > h2 {
    font-size: 20px !important;
    font-weight: 700 !important;
    text-align: center !important;
    margin-bottom: 33px !important;

    @include md {
      font-size: 35px;
    }
  }
}
