@import "../../../mixins.scss";

.packCardImg {
  height: 260px;
  width: 100%;

  span {
    height: 100%;
    width: 100%;
  }
  .posterImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px;
  }
}

.HDEright {
  color: #071c2c;

  .HDEtitle {
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;

    @include md {
      font-size: 23px;
      font-weight: 600;
      line-height: 34px;
    }
  }

  .HDEgenres {
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
    flex-flow: row wrap;

    .HDEgenre {
      background-color: var(--pink);
      padding: 3px 5px;
      font-size: 12px;
      border-radius: 4px;
      color: white;
      white-space: nowrap;
    }
  }

  .HDEoverview {
    margin-bottom: 25px;

    .HDEheading {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .HDEdescription {
      line-height: 24px;

      @include md {
        padding-right: 100px;
      }
    }
  }

  .row {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
  }

  .HDEinfo {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0 15px 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md {
      flex-direction: row;
      justify-content: flex-start;
    }

    .HDEinfoItem {
      margin-right: 10px;
      display: flex;
      flex-flow: row wrap;
    }

    .HDEtext {
      margin-right: 10px;
      color: #e73c34;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;

      &.HDEbold {
        font-weight: 600;
        opacity: 1;
        color: #071c2c;
      }
    }
  }
  .HDEinfo2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 0 5px 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include md {
      flex-direction: row;
      justify-content: flex-start;
    }

    .HDEinfoItem {
      margin-right: 10px;
      display: flex;
      flex-flow: row wrap;
    }

    .HDEtext {
      margin-right: 10px;
      color: #e73c34;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;

      &.HDEbold {
        font-weight: 600;
        opacity: 1;
        color: #071c2c;
      }
    }
  }
}

.holiAbsForm {
  background-color: white;
  padding: 15px;
  position: sticky;
  border-radius: 10px;
  top: 10px;
  overflow-y: scroll;
  position: -webkit-sticky;
  max-height: 100vh;
}

.inclusionMainBox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  h6 {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    margin-bottom: 0 !important;
    width: 80px;
    color: #e73c34;
    font-family: "Montserrat";
  }
}

.inclusionIcons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: scroll;

  @include md {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.inclusionIcons > div {
  line-height: 12px !important;
}
.inclusionIcons > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.inclusionIcons p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0 !important;
}
