.css-dev-only-do-not-override-d2lrxs.ant-tooltip .ant-tooltip-inner {
  min-width: fit-content;
  min-height: 32px;

  color: black;
  text-align: start;
  text-decoration: none;
  word-wrap: break-word;
  border-radius: 6px;
  box-sizing: border-box;
}

.css-dev-only-do-not-override-d2lrxs.ant-tooltip .ant-tooltip-inner {
  min-width: fit-content;
  min-height: 32px;
  color: black;
  text-align: start;
  text-decoration: none;
  word-wrap: break-word;
  border-radius: 6px;
  box-sizing: border-box;

  background-color: white;
}
