/* booking.css */

.container7 {
  width: 382px;
  height: 279px;
  padding: 24px;
  background: white;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  display: inline-flex;
}

.header {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.booking-title {
  color: #071C2C;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.80;
  word-wrap: break-word;
}

.flight-type {
  color: #BBBBBB;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.60;
  word-wrap: break-word;
}

.flight-details {
  align-self: stretch;
  height: 30px;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex;
}

.airline-info {
  flex: 1 1 0;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.airline-logo {
  height: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.airline-logo div {
  width: 24px;
  height: 24px;
  position: relative;
}

.airline-logo div>div {
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  position: absolute;
  background: #FF0000;
}

.airline-type {
  padding: 4px;
  border-radius: 8px;
  border: 2px #BBBBBB solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.aircraft-type {
  color: #5B5B5B;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.60;
  word-wrap: break-word;
}

.flight-timings {
  align-self: stretch;
  padding-left: 4px;
  padding-right: 4px;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  display: inline-flex;
}

.time-info {
  /* span {
      color: #071C2C;
      font-size: 12px;
      font-family: 'Montserrat';
      font-weight: 600;
      line-height: 15.65;
      word-wrap: break-word;
    }
  
    .day {
      color: #3E596D;
      font-weight: 700;
    } */
}

.time-divider {
  width: 14px;
  height: 0;
  border: 1px black solid;
}

.traveler-info {
  align-self: stretch;
  height: 57px;
  padding-left: 4px;
  padding-right: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.traveler-details {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
}

.traveler-icon {
  width: 20px;
  height: 20px;
  position: relative;
}

.traveler-icon>div {
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  position: absolute;

}

.traveler-name {
  color: black;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  word-wrap: break-word;
}

.traveler-details span {
  color: #BBBBBB;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 600;
  word-wrap: break-word;
}

.traveler-email {
  font-size: 8px;
}







/* FlightInfo.css */

.flight-info-container {
  width: 334px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.airline-info {
  height: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.logo {
  width: 24px;
  height: 24px;
  position: relative;
}

.logo-background {
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  position: absolute;

}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.airline-name {
  color: #071C2C;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.80;
  word-wrap: break-word;
}

.flight-number {
  color: #BBBBBB;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.60;
  word-wrap: break-word;
}

.aircraft-type {
  padding: 4px;
  border-radius: 8px;
  border: 2px #BBBBBB solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.badge {
  color: #5B5B5B;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.60;
  word-wrap: break-word;
}

@media only screen and (max-width:1000px) {
  .container7 {
    width: 100%;
  }
}