/* styles.css */

.container5 {
    display: flex;
   
    width: 95%;
    margin: auto;
    gap: 10%;
  }
  
  .payment-options {
    width: 60%;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
   
  
    /* Add other styles as needed */
  }
  
  .payment-options1 {
    width: 30%;
  }
  
  .faresummery {
    margin-top: 20px;
  
    /* Add other styles as needed */
  }
  
  .payment-options-inner {
    align-self: stretch;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #e3edf5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    display: inline-flex;
  
    /* Add other styles as needed */
  }
  
  /* Add a media query for responsiveness */
  @media only screen and (max-width: 1000px) {
    .container5 {
      flex-direction: column;
      gap: 0;
    }
  
    .payment-options {
      width: 100%;
    }
  
    .payment-options1 {
      width: 100%;
      
    }
  }
  