.mainimgFlightSearch {
  background-image: url(../../images/flightNavBack.png);
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center center;
  height: 300px;
}

.popular_content {
  background: transparent;
  margin: auto;
  margin-top: 20px;
}

.leftsection {
  width: 100%;
  height: auto;
  /* background: white; */

  border-radius: 10px;
}

/* popularfilter start */

.rightslide {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(62, 62, 62);
  position: relative;
}

.space {
  height: 20px;
}

.price_content {
  box-shadow: 2px 2px 2px rgb(184, 182, 182);
  border: 1px solid rgb(220, 218, 218);
}

.Bton_filter:hover {
  background-color: #4260d8 !important;
  color: white;
}

/* .fixed_row {
    position: fixed !important;
    z-index: 2 !important;
    float: left !important;
    overflow-x: hidden !important;
}

.scroll_item {
    top: 100% !important;
    right: 50% !important;
    float: right  !important;
    z-index: 1 !important;
} */

/* popularfilter end */

/* searchnavbar start */

.bton_nav:hover {
  background-color: #4260d8 !important;
  color: white;
}

/* searchnavbar start */

/* Viewpricebtn start */

.main_heading {
  text-align: start;
  letter-spacing: 0px;
  color: #252525;
  font-weight: bold !important;
  opacity: 1;
  font-size: 20px !important;
}

.normal_head {
  text-align: start;
  letter-spacing: 0px;
  color: #252525;
  opacity: 1;
  font-size: 12px !important;
  font-weight: bold !important;
}

.price_ {
  font-size: 1px !important;
  color: #ff951a;
  font-weight: bolder !important;
}

.booknow_btn {
  border-radius: 20px !important;
  opacity: 1;
  color: white;
  font-weight: bolder !important;
}

.booknow_btn:hover {
  border-radius: 20px !important;
  opacity: 1;
  color: white !important;
  font-weight: bolder !important;
}

.propsi {
  border-radius: 10px !important;
  font-size: 12px !important;
  color: black !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.propsi:hover {
  background-color: beige !important;
}

/* .active {
    background: rgb(37, 166, 37) !important;
    display: none !important;
} */

.inactive {
  background: rgb(176, 44, 44) !important;
  display: flex !important;
}

/* Viewpricebtn end */
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  background-color: darkblue;
  color: "white";
}

.resultsdata {
  margin-top: 20px;
}
.noResultOuterDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}
.noResultContainer {
  width: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.noResultContainerInner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.noResultImgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.noResultContentDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.noResultContentDiv > h6 {
  font-size: 22px;
  color: #000000;

  font-weight: 700;
}
.noResultContentDiv > p {
  font-size: 14px;
  color: #000000;

  padding: 8px 0px;
  margin-bottom: 6px;
}
.noResultBtnDiv {
  width: 100% !important;

  color: white !important;
  justify-content: center;
  color: #ffffff;
  padding: 12px 20px;

  background-color: #d90429;

  border-radius: 5px;
  text-align: center;
}

@media (max-width: 1000px) {
  .leftsection {
    width: 50%;
    height: auto;
    /* background: white; */

    border-radius: 10px;
  }
}
