.singleFlightBox {
    display: flex;
    flex-direction: row;
    /* margin: 0px 0px 10px 0; */
    border-radius: 3px;
    /* border: 1px solid #9e9e9e; */
    background-color: #fffbfb;
    /* padding: 15px 10px; */
    justify-content: space-between;
    /* width: 100%; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.mobileflexDesign {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px;
    border-radius: 8px;
    /* border: 1px solid #9e9e9e; */
    background-color: #fffbfb;
    padding: 15px 10px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mandaField {
    border-radius: 4px;
    padding: 2px 7px;
    background-color: rgb(255, 237, 209);
    font-weight: 600;
    font-size: 14px !important;
    margin-top: 10px;
}

.singleFlightBox:not(:first-child) {
    display: flex;
    flex-direction: row;
    /* margin: 10px 0px; */
    border-radius: 8px;
    /* border: 1px solid #9e9e9e; */
    background-color: #fffbfb;
    /* padding: 15px 10px; */
    justify-content: space-between;
    width: 100%;
}

.singleFlightBox>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.singleFlightBoxOne img {
    width: 40px;
}

.singleFlightBoxOne span {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.singleFlightBoxOne p {
    color: #B03737;
    font-family: 'Montserrat';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.singleFlightBoxTwo span {
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.singleFlightBoxTwo p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.singleFlightBoxTwo h5 {
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.singleFlightBoxThree h4 {
    color: #000;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.singleFlightBoxThree p {
    color: #000;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.singleFlightBoxThree>div {
    width: 105px;
}

.singleFlightBoxThree>div img {
    width: 100%;
}

.singleFlightBoxThree p {
    font-weight: 500;

}

.singleFlightBoxThree span {
    color: #d90429;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.singleFlightBoxFour span {
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.singleFlightBoxFour p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.singleFlightBoxFour h5 {
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}


.singleFlightBoxFive span {
    color: #21325d;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.singleFlightBoxFive p {
    color: #21325d;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border-radius: 2px;
    background: #D2F8E7;
    padding: 3px 5px;
}

.singleFlightBoxSix {
    color: #21325d !important;
}


.singleFlightBoxSeven p {
    font-size: 20px;
    font-weight: 700;
    color: #21325d;
    font-family: 'Montserrat';
}

.singleFlightBoxSeven button {
    padding: 8px 10px;
    border-radius: 23px;
    /* background: linear-gradient(180deg, #d90429, #d904279c); */
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #d90429 0%, #EA384D 51%, #d90429 100%);
}

.singleFlightBoxSeven button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.daySize {
    font-size: 14px;
}


hr {
    opacity: 0.7 !important;
}

.stopBef {
    position: relative;
}

.stopBef hr::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    opacity: 0.7 !important;
}


.pagination .active>.page-link {
    background-color: #d90429 !important;
    border-color: white;
    color: white !important;
}

.pagination .page-link {
    color: #d90429 !important;
}

.loadingflightgradient {
    background-Image: linear-gradient(to right bottom, #a0a2a7, #989d9f, #adafaf, #c6c9c8, #bbbdb7);
    animation: gradient 15s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.emiBOx {
    display: flex;
    flex-direction: column;
    gap: 4px;

    cursor: pointer;
}

.emiBOx p {
    font-weight: 600;
    font-size: 12px;
    color: blue;
}

.emiBOx span {
    font-weight: 600;
    color: blue;
    font-size: 12px;
}