.flight-route-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.route-text-flight {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}


.route-content-span {
  display: flex;
  flex-direction: row;
  gap: 7px;
  font-weight: 600;

}

.flightTopImg img {
  width: 16px;
}


.route-sort-caption {
  color: #E73C34;
  font-weight: 600;
}

.route-img-flight {
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 50%;
}