.headingReview {
    border-radius: 8px 8px 0px 0px;
    background: #fff;
    /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16); */
    padding: 24px 48px;
    border: 1px solid lightgray;
}


.shad {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.headingReview p {
    color: #21325D;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.martopBus {
    margin-top: -117px;
}


.busAllDetail {
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.busAllDetail .busAllReview {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.heead {
    padding-left: 30px;
    margin: 15px 0px 10px 0px;
}

.heead span {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #21325D !important;

}


.busAllDetail .busAllReview>div {
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

}

.busAllDetail p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.busAllDetail span {
    color: #000;

    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.passengerDetBox {
    padding: 24px 32px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid lightgray;
}

.passengerDetBox p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.passengerDetBox span {
    color: #d90429;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.passDetails {
    padding: 18px 36px;
    border-radius: 8px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background: #FFFBFB;
    margin-bottom: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.passDetails>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.passDetails p {
    color: #000;

    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.passDetails span {
    color: #000;

    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.bookBus {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bookBus button {
    padding: 14px 40px;
    border-radius: 8px;
    background: #d90429;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 2px solid #d90429;
    transition: all 0.3s;
}

.bookBus button:hover {
    background-color: transparent;
    color: #d90429;
}

.CancelRulesBus {
    background-color: #fff;
    border: 1px solid lightgray;
}

.CancelRulesBus table {
    margin-bottom: 0 !important;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.CancelRulesBus th {
    background-color: lightgray;

}

.CancelRulesBus td {
    background-color: white;
    color: #21325D;
}