.partnerBox {
    padding: 60px 30px;
    /* background-color: #1e429f; */
}

.partner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-container h3 {
    text-align: center !important;
    width: 73% !important;
    /* margin: auto !important; */

    padding-bottom: 10px !important;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 1.7rem;
    margin-bottom: 30px;
}

.partner-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white;
    border-radius: 10px;
    width: 90% !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



@media(max-width:650px){
    .partner-slide img{
        width: 60%;
    }
}