.BigNavItems {
    display: flex;
    flex-direction: row;
    gap: 42px;
    align-items: center;
    margin-bottom: 0 !important;
    padding: 13px 0px;
}

.mainheaderlogo {
    fill: blue !important;
}


@media(max-width:990px) {
    .BigNavItems {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 22px;
        margin-bottom: 0 !important;
        padding: 13px 0;
    }
}