/* bookingComponent.css */

.booking-container {
  width: 100%;

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(255, 255, 255, 0.95);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.booking-text {
  color: #071C2C;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

/* Media Query for Responsive Design */
@media (max-width: 1000px) {
  .booking-container {
    width: 90%;
    padding: 20px;
  }

  .booking-text {
    font-size: 24px;
  }
}

/* govtGuidelinesComponent.css */

.govt-guidelines-container {
  width: 100%;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #F7FFEB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

}

.icon-and-title {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}

.icon-container {
  width: 24px;
  height: 24px;
  position: relative;
}

.icon-background {
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  position: absolute;
}

.icon {
  width: 18px;
  height: 19px;
  left: 4px;
  top: 2px;
  position: absolute;
}

.title-containerbus {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.titlebus {
  text-align: center;
  color: #071C2C;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.guidelines-content {
  padding-left: 28px;
  padding-right: 28px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.guidelines-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.guidelines-text {
  color: #071C2C;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

/* Media Query for Responsive Design */
@media (max-width: 1000px) {
  .govt-guidelines-container {
    width: 100%;
    height: auto;
  }
}

/* travelDetails.css */

.travel-details-containerbus {
  width: 100%;

  padding-top: 16px;
  padding-bottom: 16px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;

  margin: auto;
  margin-bottom: 20px;

}

.left-sectionbus,
.right-sectionbus {
  padding: 5px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  margin-left: 15px;
}

.middle-sectionbus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.time-and-locationbus {
  align-self: stretch;
  height: 57px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.departure-timebus {
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  display: flex;
}

.timebus {
  color: #071C2C;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  word-wrap: break-word;
}

.day-of-weekbus {
  color: #071C2C;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
}

.locationbus {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.markerbus {
  color: #071C2C;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}

.location-namebus {
  color: #071C2C;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.addressbus {
  width: 319px;
  color: #AAAAAA;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.durationbus {
  width: 34px;
  color: #AAAAAA;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.dividerbus {
  width: 80px;
  height: 0;
  border: 1px #AAAAAA dotted;
}

/* Media Query for Responsive Design */
@media (max-width: 1000px) {
  .travel-details-containerbus {

    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }
}


/* bookingDetails.css */

.booking-details-container {
  width: 100%;
  height: 87px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 20px;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.company-name {
  color: #071C2C;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.bus-details {
  color: #BBBBBB;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.right-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
}

.seat-number,
.view-policies {
  color: #071C2C;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.view-policies {
  color: #d90429;
}


/* FareSummary.css */
/* FareSummary.css */

.fare-summary-container {


  width: 90%;
  background: white;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;

}

.fare-summary-container .fare-summary-title {
  align-self: stretch;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  color: #d90429;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  word-wrap: break-word;
}

.fare-summary-container .fare-details {
  padding: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.fare-summary-container .fare-details-row {
  align-self: stretch;
  border-bottom: 0.50px #071C2C solid;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.fare-summary-container .fare-details-label {
  padding-top: 8px;
  padding-bottom: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  color: #071C2C;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 16.67px;
  word-wrap: break-word;
}

.fare-summary-container .fare-details-value {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
  color: #071C2C;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 600;
  word-wrap: break-word;
}

.fare-summary-container .fare-details-total {
  align-self: stretch;

  border-radius: 4px;
  background: #BBB;
  padding: 9px;



  display: flex;
}


.fare-details-total {
  display: flex;
  justify-content: space-between;
}

.leftbus {
  width: 75%;
  margin: auto;

}

.flightsummarybus {
  width: 100%;
  margin: auto;

  display: flex;

}

.btntext {
  color: #FFFBFB;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}