.bus_banner {

    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}





.mobileViewThing {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;

    /* .singleBusSearchBox { */
    /* display: flex;
    flex-direction: column; */
    margin: 0px 0px 10px 0;
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: #fff;
    padding: 15px 10px;
    /* justify-content: space-between; */
    /* width: unset; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* } */
}







.singleBusSearchBox {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 0;
    border-radius: 8px;
    /* border: 1px solid lightgray; */
    /* background-color: #fff; */
    /* padding: 15px 10px; */
    justify-content: space-between;
    width: 100%;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.anotherBusResult {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 10px 0;
    border-radius: 8px;
    background-color: #fff;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.singleBusSearchBox:not(:first-child) {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    border-radius: 8px;
    border: 1px solid #9e9e9e;
    background-color: #fffbfb;
    padding: 15px 10px;
    justify-content: space-between;
    width: 100%;
}

.anotherBusResult>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.singleBusSearchBoxOne span {
    color: #000;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}




.singleBusSearchBoxTwo span {
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.singleBusSearchBoxTwo p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.singleBusSearchBoxThree h4 {
    color: #000;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.singleBusSearchBoxThree>div {
    width: 105px;
}

.singleBusSearchBoxThree>div img {
    width: 100%;
}

.singleBusSearchBoxThree p {
    font-weight: 500;

}

.singleBusSearchBoxThree span {
    color: #d90429;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.singleBusSearchBoxFour span {
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.singleBusSearchBoxFour p {
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}


.singleBusSearchBoxFive span {
    color: #21325d;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.singleBusSearchBoxFive p {
    color: #21325d;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border-radius: 2px;
    background: #D2F8E7;
    padding: 3px 5px;
}

.singleBusSearchBoxSix {
    color: #21325d !important;
}


.singleBusSearchBoxSeven p {
    font-size: 20px;
    font-weight: 700;
    color: #21325d;
    font-family: 'Montserrat';
}

.singleBusSearchBoxSeven button {
    padding: 8px 16px;
    border-radius: 4px;
    background: #d90429;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 2px solid #d90429;
    transition: all 0.3s;
}

.singleBusSearchBoxSeven button:hover {
    background-color: transparent;
    color: #d90429;
}