.popular_content {
    background: transparent;
    margin: auto;
    margin-top: 20px;
}

.leftsection {
    width: 100%;
    height: auto;
    margin-top: -100px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
font-family: "Montserrat";

}
@media (max-width: 1000px) {

    .leftsection {
        width:auto;
        height: auto;
        background: white;
      
        border-radius: 10px;
        text-align: left;
        margin-bottom: 20px;
    
    }  
}

/* popularfilter start */

.rightslide {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(62, 62, 62);
    position: relative;
}

.space {
    height: 20px;
}

.price_content {
    box-shadow: 2px 2px 2px rgb(184, 182, 182);
    border: 1px solid rgb(220, 218, 218);
}

.Bton_filter:hover {
    background-color: #4260D8 !important;
    color: white;

}


/* .fixed_row {
    position: fixed !important;
    z-index: 2 !important;
    float: left !important;
    overflow-x: hidden !important;
}

.scroll_item {
    top: 100% !important;
    right: 50% !important;
    float: right  !important;
    z-index: 1 !important;
} */

/* popularfilter end */

/* searchnavbar start */

.bton_nav:hover {
    background-color: #4260D8 !important;
    color: white;
}

/* searchnavbar start */


/* Viewpricebtn start */

.main_heading {
    text-align: start;
    letter-spacing: 0px;
    color:#21325D;
    font-weight: bold !important;
    opacity: 1;
    font-size: 20px !important;
}

.normal_head {
    text-align: start;
    letter-spacing: 0px;
    color: #21325D;
    opacity: 1;
    font-size: 20px !important;
    font-weight: bold !important;
}

.price_ {
    font-size: 20px !important;
    color:#21325D;
    font-weight: bolder !important;
}

.booknow_btn {
    background-color: #21325D!important;
    border-radius: 20px !important;
    opacity: 1;
    color: white!important;
    font-weight: bolder !important;
}

.booknow_btn:hover {
    background-color: #4260D8 !important;
    border-radius: 20px !important;
    opacity: 1;
    color: white;
    font-weight: bolder !important;
}

.propsi {
   
    border-radius: 10px !important;
    font-size: 12px !important;
    background-color:#21325D !important;
    color:white !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.propsi:hover {
    background-color: #a2aac0 !important;
}

.active {
    background: rgb(37, 166, 37) !important;
    display: none !important;
}

.inactive {
    background: rgb(176, 44, 44) !important;
    display: flex !important;
}


/* Viewpricebtn end */