/* toursection.css */

.containerTour {
    width: 74%;
    /* height: 66px; */
    background: white;
    border-radius: 28px;
    border: 0.50px #071C2C solid;
    justify-content: center;
    align-items: center;
    
    justify-content: space-around;
    display: flex;
    margin: auto;
    margin-top: 20px;
  }
  
  .item {
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    display: flex;
  }
  
  .icon-container {
    width: 24px;
    height: 24px;
    position: relative;
  }
  
  .icon-backgroundTour {
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    position: absolute;
  }
  
  .icon {
    width: 20.50px;
    height: 20px;
    left: 2px;
    top: 2px;
    position: absolute;
  }
  
  .text {
    color: #071C2C;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .rotated-border {
    width: 66px;
    align-self: stretch;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px #071C2C solid;
  }
  
  /* Media Query for Responsive Design */
  @media (max-width: 1000px) {
    .containerTour {
      width: 90%;
      padding: 12px;
      flex-direction: column;
      gap: 16px;
    }
  
    .rotated-border {
      display: none; /* Hide the rotated border in smaller screens */
    }
  }
  
  @media (max-width: 1000px) {
    .text {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  }
  