.trending {
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}


.theme1 {
    color: #fff !important;
    font-size: 13px;
    /* text-shadow: 1px 1px 2px #000; */
    text-decoration: none;
    font-weight: 500;
    font-family: Montserrat;
}

.holiSuggSpan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    align-items: flex-end;
}

.holiSuggSpan .bg-theme {
    display: inline-block;
}

.holiSugPrice {
    right: 17px;
    font-weight: 700;
    font-size: 18px;
}

.theme {
    color: #d90429 !important;
    font-family: Montserrat;
    font-weight: 600;
    margin-bottom: 20px;
}

.trending .trend-item,
.trending .trend-item1,
.trending .trend-item2 {
    position: relative;
    transition: all ease-in-out 0.5s;
    overflow: hidden;
    padding: 8px;
    background-color: white;
    border-radius: 0.375rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.trending .trend-item .trend-image,
.trending .trend-item .trend-image1,
.trending .trend-item1 .trend-image,
.trending .trend-item1 .trend-image1,
.trending .trend-item2 .trend-image,
.trending .trend-item2 .trend-image1 {
    transition: all ease-in-out 0.5s;
    overflow: hidden;
    height: 250px;
}

.h250 {
    height: 250px;
}

.trending .trend-item .trend-image img,
.trending .trend-item1 .trend-image img,
.trending .trend-item2 .trend-image img {
    transition: all ease-in-out 0.5s;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    background-size: cover;
}

.bg-theme {
    /* background: #d90429 !important; */
    background: #d90427c0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.white {
    color: #fff !important;
    font-family: Montserrat;
}


.color-overlay {
    top: inherit;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #000000b0, #000000ad);
    height: 50%;
    opacity: 0.6;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.5s;
}

.trending .trend-item .trend-image .trend-content,
.trending .trend-item1 .trend-image .trend-content,
.trending .trend-item2 .trend-image .trend-content {
    z-index: 1;
    width: 88%;
    /* background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); */
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15px 15px 8px 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px 18px 5px 18px;
    transition: all 0.2s;
}

.trending .trend-item .trend-image .trend-content:hover,
.trending .trend-item1 .trend-image .trend-content:hover,
.trending .trend-item2 .trend-image .trend-content:hover {

    padding: 20px 18px 10px 18px;
}

.trend-item1:hover .trend-image .trend-content {
    padding: 20px 18px 10px 18px;
}

.bott {
    bottom: 11px;

}