.oneWayAbsDesignMulticity {
    width: 100%;
    position: relative;
    /* left: 50%; */
    top: 42%;
    /* transform: translate(0%, 5%); */
    z-index: 2;
}

.your-containerMulticity {
    display: grid;
    /* border: 1px #888 solid; */
    row-gap: 13px;
    border-radius: 10px;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: 24% 24% 22% 16% 14%;
}

.from-containerMulticity {
    padding: 6px 21px;
    /* border-top-left-radius: 12px; */
    border-right: 1px lightgray solid;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    flex-direction: column;
    background: white;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    display: inline-flex;
    position: relative;
}


.from-containerMulticity span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.from-containerMulticity span {
    color: #071c2c;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.from-containerMulticity label {
    color: #3f454a;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* width: 141px; */
    width: 100%;
    border: none;
    outline: none;
}


.from-containerMulticity input {
    color: #3f454a;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* width: 141px; */
    width: 100%;
    height: 35px;
}


.travellerContainerMulticity {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    border-top-left-radius: 12px;
    border-right: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    flex-direction: column;
    background: white;
}

.addedCityBox {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    gap: 15px;
    background-color: #f1f1f1;
    margin-top: 10px;
    padding: 6px 20px;
    margin-bottom: 10px;
}

.addedCityBox p {
    color: #3f454a;
    font-family: "Montserrat";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* width: 141px; */
    width: 100%;
    border: none;
    outline: none;
}

.addedCityBox button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    /* background-image: linear-gradient(to right, #d90429 0%, #EA384D 51%, #d90429 100%); */
    background-color: #222;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 13px;
    background-size: 200% auto;
    color: white;
}













/* multicity result  */



.multicityFlightResultBox p,
.multicityFlightResultBox h4,
.multicityFlightResultBox h5 {
    margin: 0 !important;
}

.multicityFlightResultBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #f1f1f1;
    margin: 5px 5px;
    border-radius: 8px;
    padding: 10px;
}

.multicityFlightResultBoxOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    /* align-items: flex-start; */
}

.multicityFlightResultBoxOne .multicityResultFlightDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.multicityResultDurationBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.multicityResultOtherDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}

.multicityResultOtherDetails>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.multicityResultTimingBox span {
    /* max-width: 95px; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    color: #000;
    font-family: 'Montserrat';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.multicityResultTimingBox h5 {
    font-size: 13px;
    max-width: 95px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.multicityResultTimingBox p {
    color: #d90429;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
}


.multicityResultDurationBox h4,
.multicityResultDurationBox p {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.multicityResultDurationBox span {
    color: #d90429;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;

}

.multicityResultFlightDetails span {
    font-size: 13px;
    /* max-width: 95px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.multicityResultFlightDetails p {
    color: #B03737;
    font-family: 'Montserrat';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
}

.multicityResultFlightDetails img {
    width: 32px;
}



.multicityMainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 13px;
    border-radius: 8px;
    padding: 10px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.multicitylViewDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.multicitylViewDetails p {
    font-size: 20px;
    font-weight: 700;
    color: #21325d;
    font-family: 'Montserrat';
}

.multicitylViewDetails button {
    padding: 8px 10px;
    border-radius: 23px;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #d90429 0%, #EA384D 51%, #d90429 100%);
}



.stopNonStopBox {
    display: flex;
    flex-direction: row;
    /* gap: 8px; */
    align-items: center;
}


.stopBefOneStopMulticity {
    width: 70px;
    position: relative;
}

.stopBefMulticity {
    width: 70px;
    position: relative;
}


.stopBefMulticity hr:before {
    background-color: red;
    border-radius: 50%;
    content: "";
    height: 7px;
    left: 50%;
    opacity: .7 !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
}

/* multicity result  */


.pleaseADDD {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.pleaseADDD p {
    font-weight: 500;
    font-size: 14px;
    color: #d90429;

}

.pleaseADDD button {
    padding: 8px 10px;
    border-radius: 23px;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #d90429 0%, #EA384D 51%, #d90429 100%);
}