.holidayCatMainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
}

.holidayCatBox {
    height: 100px;
    background: #111;
    padding: 10px 20px;
    width: 210px;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s;
}

.holidayCatBox h3 {
    font-size: 20px;
    font-weight: 600px;
    color: white;
    text-wrap: nowrap;
}

.holidayCatBox:hover img {
    transform: scale(1.1);
}

.holidayCatBox:hover h3 span {
    /* transform: scale(1.1); */
    padding-left: 7px;
}

.holidayCatBox h3 span {
    position: relative;
    transition: all 0.2s;
}

.packOuterBox {
    display: flex;
    flex-direction: row;
    flex: 9;
}

.holidayCatBox h3 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 0.2s;
}

.holidayCatBox img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .7;
    transition: all 0.2s;
}





/* holiday domestic  */


.holidayCatBoxDomestic {
    height: 250px;
    background: #111;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s;

}

.holidayCatBoxDomestic h3 {
    font-size: 23px;
    font-weight: 600;
    color: white;
    text-wrap: nowrap;
}


.holidayCatBoxDomestic h3 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all 0.2s;
}

.holidayCatBoxDomestic img {
    transition: all 0.2s;
}

.holidayCatBoxDomestic:hover img {
    transform: scale(1.1);
}

.holidayCatBoxDomestic:hover h3 span {
    /* transform: scale(1.1); */
    padding-left: 7px;
}

.holidayCatBoxDomestic h3 span {
    position: relative;
    transition: all 0.2s;
}

.holidayCatBoxDomestic img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .7;
}


/* holiday domestic  */



.catDetailsAbout {
    background: rgba(202, 199, 199, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px 0px;
}

.catDetailsAbout p {
    color: white;

}



.holidayCountryUnique {
    background-image: linear-gradient(to left, #d90429, #d90427b9);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.holidayCountryUnique h4 {
    color: white;
    font-weight: 700;
}

.holidayCountryUnique svg {
    font-size: 25px;
}


.holidayCountryUniqueOe {
    background-image: linear-gradient(to left, #d90429, #d90427b9);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

.holidayCountryUniqueOe h4 {
    color: white;
    font-weight: 700;
}

.holidayCountryUniqueOe svg {
    font-size: 25px;
}


.mt100 {
    margin-top: 100px;
}

.mb100 {
    margin-bottom: 100px;
}


.color-overlayCountry {
    top: inherit;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #000000);
    height: 50%;
    opacity: 0.6;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.5s;
}

/* grid design  */


.color-overlayCategory {
    top: inherit;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #000000);
    height: 50%;
    opacity: 0.6;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.5s;
    border-radius: 7px;
}



@media(max-width:600px) {
    .holidayCatMainBox {
        /* display: grid !important; */
        /* grid-template-columns: 50% 50%; */
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 20px;
        box-sizing: border-box;
    }

    .holidayCatBox {
        height: 80px;
        background: #111;
        padding: 10px 20px;

        width: 150px;
        position: relative;
        border-radius: 7px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.2s;
        flex-grow: 6;
    }

    .holidayCatBox:nth-last-of-type(1) {
        height: 80px;
        background: #111;
        padding: 10px 20px;
        width: 100%;
        position: relative;
        border-radius: 7px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.2s;
    }


    .flight-route-box {
        display: flex;
        max-width: 80%;
        position: relative;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        text-decoration: none;
        color: unset;
        background: rgba(255, 255, 255, 0.25);
        /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .route-img-flight {
        display: flex;
        align-items: center;
        margin-right: 10px !important;
        width: 33px !important;
        height: 33px !important;
        border-radius: 17px;
    }

    .route-img {
        border-radius: 10px;
        /* object-fit: cover; */
        width: 33px !important;
        height: 33px !important;
    }

    .route-content-span {
        font-size: 11px;
        display: flex;
        gap: 5px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .route-content-span span {
        font-size: 10px;
    }

    /* .route-content-span span img {
        width: 80%;
    } */

    .Flight-grid-route {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 15px !important;
    }

    .flight-route-box {
        display: flex;
        max-width: 100% !important;
    }

    .route-sort-caption {
        font-size: 12px !important;

    }

    .holidayCatBox h3 {
        font-size: 14px !important;
        font-weight: 600px;
        color: white;
        text-wrap: nowrap;
    }


    .advertise-container {
        margin-top: 0px !important;
    }


    .mt100 {
        margin-top: 30px;
    }


    .holidayCatBoxDomestic {
        height: 141px !important;

    }

    .holidayCatBoxDomestic h3 {
        font-size: 12px !important;

    }


    .holidayCountryUnique h4 {
        color: white;
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 0 !important;
    }

    .mb100 {
        margin-bottom: 20px !important;
    }

    .inner-content {
        padding-bottom: 0 !important;
    }

    .PackageInner-packMobile {
        padding: 20px 21px;
        border-top-left-radius: 12px;
        border-right: 1px #888 solid;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 7px;
        display: inline-flex;
        position: relative;
    }

    .package_lable_lMobile {
        color: #071c2c;
        font-family: "Montserrat";
        font-size: 13px !important;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        /* width: 141px; */
        width: 100%;
        border: none;
        outline: none;
        text-transform: capitalize;
    }

    .paddMobile {
        padding: 0px 15px;
    }

    .advertise-slide img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .package_input_div_divMobile input {
        font-size: 13px !important;

        outline: none !important;
        border: none !important;
        height: 30px !important;
        width: 100% !important;

        color: #071c2c !important;
        font-family: "Montserrat";
        font-size: 13px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: normal !important;
        /* width: 141px; */
        width: 100% !important;
        border: none !important;
        outline: none !important;
        text-transform: capitalize !important;
    }

    .package_input_div_divMobile input::placeholder {
        font-size: 13px !important;
    }

    .scroll_styleMobile {
        overflow: hidden;
        overflow-y: scroll;
        max-height: 210px;
        background-color: #ffff;
        margin-top: 17px;
    }

    .scroll_styleMobile p {
        font-size: 13px;
        cursor: pointer;
    }


    .download-steps {
        background-color: #f1f1f1 !important;
        padding: 20px !important;
        text-align: center !important;
        border-radius: 20px !important;
        position: relative !important;
        border: 7px solid #fff !important;
        height: 100%;
    }

    .download-steps h4 {
        font-size: 14px !important;
    }

    .download-steps p {
        font-size: 13px !important;
        line-height: 20px !important;
        font-weight: 500 !important;
    }

    .download-steps i {
        width: 95px !important;
        height: 95px !important;


    }

    .download-steps img {

        width: 40% !important;
    }

    .download-app h2 {
        color: #111 !important;
        font-weight: 800 !important;
        font-size: 17px !important;
        text-align: center;
        width: 80%;
    }

    .download-app {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }

    .download-gap {
        padding: 30px 0 !important;
    }

    ul.download-list li {
        padding-top: 12px !important;
        font-size: 12px !important;
        color: #111;
        list-style-type: none;
    }

    .download-list {
        padding-left: 0 !important;
    }

    .scan-logo {
        width: 139px !important;
    }

    .footer a {
        font-size: 11px !important;
    }

    .footer {
        padding: 100px 20px 20px 20px !important;
    }

    .addressFooter span {
        width: 80% !important;
        font-size: 11px !important;
    }



    /* oneway css part  */

    .your-container {
        /* display: grid;
        border-radius: 0px;
        display: grid;
        grid-template-areas:
            'header header'
            'menu menu'
            'footer hooter'
            'tooter tooter';
        grid-template-columns: unset !important;
        gap: 10px; */

        display: grid;

        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        gap: 0px;
        /* height: 100%; */
    }


    #item-0 {

        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;

    }

    #item-1 {

        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;

    }

    #item-2 {

        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;

    }

    #item-3 {

        grid-row-start: 3;
        grid-column-start: 2;
        grid-row-end: 4;
        grid-column-end: 3;
        background-color: white;

    }

    #item-4 {

        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 3;

    }

    /* .travellerContainer {
        background-color: white;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    } */

    .roundlogo {
        display: none !important;
    }

    .bannerBack {
        /* display: none !important; */
    }

    .mainimg {
        /* box-shadow: unset !important; */
    }


    .oneWayAbsDesign {
        width: 85%;
        position: absolute;
        left: 50%;
        top: 53%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* padding: 30px 20px; */
        /* background-color: #eee; */
        border-radius: 9px;
    }

    .from-container span {
        font-size: 11px !important;
    }

    .travellerContainer {
        position: relative !important;
        margin-bottom: 10px !important;
        padding-bottom: 0 !important;
    }

    .travellerButton span {
        font-size: 11px !important;
    }

    .from-container label {
        font-size: 14px;
        font-weight: 600;
    }

    .from-container {
        margin-bottom: 10px;
        background-color: white;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border-right: unset !important;
        border-radius: 4px !important;
        padding-bottom: 0px !important;
        padding: 7px !important;
        gap: 0 !important;
    }

    .from-container input {
        font-size: 13px !important;
        height: 25px !important;
    }

    .oneWayBg {
        background-color: unset !important;
        box-shadow: unset !important;
    }

    .from-container:nth-child(2) {
        padding: 7px !important;
    }

    .from-container:nth-child(3) {
        margin-right: 5px !important;
    }

    .travellerContainer {
        margin-left: 10px;
        border-top-left-radius: 4px !important;
    }

    .travellerButton p {
        font-size: 13px !important;
    }


    .onewaySearch .searchButt {
        border-radius: 4px !important;
    }

    .from_Search_Container {
        top: 45px;
    }

    .from_Search_Container input::placeholder {
        font-size: 13px !important;
    }

    .from_search_div {
        padding-left: 7px !important;
    }

    .resultOriginName p {
        font-weight: 600;
        font-size: 13px;
    }

    .resultAirportCode p {
        font-weight: 600;
        font-size: 13px;
    }

    .travellerModal>div h3 {
        font-weight: 600;
        font-size: 15px;
        color: #21325d;
        font-family: "Montserrat";
    }

    .travellerPeople>div {
        padding: 0 10px;
    }

    .TravelerCounter p {
        color: #21325d;
        font-weight: 600;
        font-size: 13px !important;
    }

    .classButtonTravel {
        display: none !important;
    }

    /* oneway css part  */


    /* hotel home page css part  */


    .yourHotel-container {
        display: grid;

        grid-template-rows: 1fr 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
        gap: 0 !important;
        column-gap: 10px !important;
    }

    #item-0H {

        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;

    }

    #item-1H {

        /* grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3; */

        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;

    }

    #item-2H {

        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;

    }

    #item-3H {

        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 3;
        background-color: white;

    }

    #item-4H {

        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 3;

    }

    .hotelFormBg {
        background-color: unset !important;
    }

    .HotelAbsDesign {
        width: 85%;
        position: absolute;
        left: 50%;
        top: 53%;
        transform: translate(-50%, -50%);
        z-index: 2;
        border-radius: 9px;
    }

    .hotelFormBg {
        box-shadow: unset !important;
    }

    .travellerContainer {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 13px;
    }

    .hotel-container {
        border-right: unset !important;
        background-color: white;
        border-radius: 4px !important;
        margin-bottom: 10px;
    }

    .hotel-container input {
        font-size: 13px;
    }

    .hotel-container:nth-child(2) {
        padding: 6px 21px !important;
    }

    .hotel-container label {
        color: #3f454a;
        font-family: Montserrat;
        font-size: 13px !important;
    }

    .hotel-container span {
        font-size: 11px !important;
    }

    .travellerButton span {
        font-size: 11px !important;
    }

    .hotel-container input {
        font-size: 13px !important;
    }

    .PackageInner {
        border-top-left-radius: 4px !important;
        border-radius: 4px !important;
    }

    .PackageInner .searchButt {
        border-radius: 4px !important;
    }

    .PackageInner-pack {
        padding: 25px 21px;
        border-top-left-radius: 12px;
        border-right: unset !important;
    }

    /* hotel home page css part  */


    /* bus home page css part  */

    .busSearch-container {
        display: grid;
        /* border: 1px #888 solid; */
        grid-template-rows: 1fr 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
        gap: 10px !important;
        column-gap: 10px !important;
    }


    #item-0B {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;
    }

    #item-1B {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;
    }

    #item-2B {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
    }

    #item-3B {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
        background-color: white;
    }

    .PackageInner_bus {
        padding: 6px 21px;
        border-top-left-radius: 4px !important;
        border-right: unset !important;
        background-color: white;
        border-radius: 4px !important;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    }

    .BusSearchBg {
        background-color: unset !important;
        box-shadow: unset !important;
    }

    .PackageInner {
        background-color: white;
        border-right: unset !important;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    }

    .PackageInner_bus label {
        color: #3f454a;
        font-family: Montserrat;
        font-size: 13px !important;
    }

    .PackageInner_bus span {
        color: #3f454a;
        font-family: Montserrat;
        font-size: 11px;
    }

    .PackageInner span {
        color: #071c2c;
        font-family: "Montserrat";
        font-size: 11px;
    }

    .PackageInner input {

        font-size: 13px !important;
    }

    .Package_innerDiv_Position {
        position: absolute;
        top: 23px !important;
    }

    .busResultBox span {
        font-size: 13px !important;
    }

    .busResultBox p {
        font-weight: 500;
        font-family: Montserrat;
        font-size: 13px !important;
    }

    .busHideInput input {
        font-size: 13px !important;
    }

    .PackageInner .searchButt h3 {
        margin-bottom: 0 !important;
        color: #fff;
        font-weight: 600;
        font-size: 14px !important;
    }

    /* bus home page css part  */


    /* holidaypackage search result page  */
    .mainimgPackageSearch {

        height: 180px;
        background-position: top center;
    }

    .packageResultBoxMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* padding: 15px; */
        border-radius: 8px;
        /* border: 1px solid lightgray; */
        background: #FFFBFB;
        margin-bottom: 26px;
        cursor: pointer;
        flex-wrap: nowrap;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .packOuterBoxMobile {
        display: flex;
        flex-direction: column;
    }

    .packageImageMobile {
        width: 100%;
    }

    .packageImageMobile img {
        width: 100%;
        height: 220px;
        border-radius: 10px 10px 0px 0px;
    }

    .packageResultDetailsMobile {
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: flex-start;
        padding: 15px;
    }

    .packageTitleMobile {
        color: #071C2C;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .packageTitleMobile p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .priceBookMobile {
        /* flex: 28%; */
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
        align-items: center;
        width: 100%;
        /* padding: 15px; */
        /* border-left: 1px solid lightgray; */
    }

    .priceBookOneMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        align-items: center;

    }

    .priceBookOneMobile h3 {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 4px 12px;
        border-radius: 16px;
        background: #071C2C;
        display: inline-block;
    }

    .priceBookOneMobile span {
        color: #000;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .priceBookOneMobile p {
        color: #d90429;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .priceBookOneMobile h4 {
        color: #071C2C;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 0 !important;
    }

    .priceBookOneMobile h4 svg {
        font-size: 12px !important;
    }

    .daysPackMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .daysPackMobile .daysText {
        color: #d90429;
        font-family: Montserrat;
        font-size: 12px !important;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .topFilterBoxMobile {
        align-items: center;
        background-color: #fff;
        border-bottom: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3;
        display: flex;
        flex-direction: row;
        font-weight: 700;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 5px;
        padding: 15px;
        position: -webkit-sticky;
        position: sticky;
        text-align: center;
        top: 62px;
        z-index: 2;
        cursor: pointer;
    }

    .topFilterBoxMobile p {
        padding-left: 15px;
    }

    .topFilterBoxMobile span {
        padding-right: 15px;
    }

    .scrollDesignMobile {
        /* top: 96px;
        overflow: hidden;
        overflow-y: scroll;
        position: sticky;
        height: calc(100vh - 100px); */
        position: fixed;
        background-color: white;
        height: 100%;
        top: 58px;
        bottom: 0;
        left: 0;
        z-index: 3;
        width: 54% !important;
    }

    .holidayInfoBackWall {
        padding-top: 46px !important;
    }


    /* login button css  */

    .loginButt {
        background-image: unset !important;
        padding: unset !important;
        text-align: unset !important;
        text-transform: unset !important;
        transition: unset !important;
        background-size: unset !important;
        color: black !important;
        border-radius: unset;
        cursor: pointer;
    }

    .account-btn {
        background-image: unset !important;
        padding: unset !important;
        text-align: unset !important;
        text-transform: unset !important;
        transition: unset !important;
        background-size: unset !important;
        color: black !important;
        border-radius: unset;
        cursor: pointer;
    }


    .logg {
        width: 100%;
        height: 100%;
        min-height: 200px;
    }

    .logg img {
        width: 100%;
        height: 100%;
        min-height: 200px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        /* opacity: 0.9; */
        border-radius: 15px 15px 0px 0px;

    }

    /* login button css  */


    /* package loader  */

    .flightimgcontainer {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flightimgcontainer>img:first-child {
        width: 50% !important;
        height: 50% !important;
        border-radius: 50%;
    }

    .funnyfact {
        width: 90% !important;
        text-align: center;
    }

    .funnyfact h3,
    .funnyfact h5 {
        font-size: 14px !important;
        font-weight: 900 !important;
        color: #21325d !important;
        /* text-shadow: 1px 1px 2px black; */
        font-family: 'Montserrat';
        text-align: center;
    }


    .swal-popup.with-shadow {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        background-color: #ffffff !important;
        width: 100% !important;
    }


    div:where(.swal2-container) .swal2-html-container {
        z-index: 1;
        justify-content: center;
        margin: 1em 1.6em 0.3em;
        padding: 0;
        overflow: auto;
        color: inherit;
        font-size: 13px;
        font-weight: normal;
        line-height: normal;
        text-align: center;
        word-wrap: break-word;
        word-break: break-word;
    }

    /* package loader  */


    .dummyTitle {
        font-size: 14px;
    }


    .onewaySearch .searchButt h3 {
        color: white;
        font-size: 13px;
    }



    .bannerBack {
        position: absolute;
        z-index: -1;
        /* width: 100%; */
        /* height: 100%; */
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: bottom right;
        /* background-size: 100% 100%; */
        opacity: 0.9;
    }

    .footer {
        padding: 50px 40px 20px 40px !important;
        /* background-color: #dc817e; */
        /* background-image: linear-gradient(to bottom, #dc817e, #d90429); */
        background-color: #ddd;
        border-radius: 10px 10px 0px 0px !important;
        /* border-top-right-radius: 50px; */
        color: white !important;
        position: relative !important;
        bottom: 0 !important;
        margin-top: 40px;
    }

    .footer h5 {
        font-size: 18px !important;
        color: #21325d;
        font-weight: 700 !important;
        text-align: center !important;
    }


    .icon-box-inner>div {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: 1px solid lightgray;
        padding: 3px 6px;
        border-radius: 5px;
    }

    .icon-box p {

        white-space: nowrap;
    }


    .FilterBoxMobileFlight {
        overflow: hidden;
        overflow-y: scroll;
        height: 100vh;
    }

    .scrollDesignMobileFlight {
        position: fixed;
        background-color: white;
        height: 100%;
        top: 58px;
        bottom: 0;
        left: 0;
        z-index: 3;
        width: 67% !important;
    }


    .singleFlightBoxThree h4 {
        font-size: 9px !important;
    }

    .singleFlightBoxThree>div {
        width: 62px !important;
    }

    .singleFlightBoxThree p {

        font-size: 9px !important;

    }

    .singleFlightBoxThree span {

        font-size: 9px !important;

    }

    .singleFlightBoxTwo p {

        font-size: 11px !important;

    }

    .singleFlightBoxTwo span {

        font-size: 10px !important;

    }

    .daySize {
        font-size: 9px !important;
    }

    .singleFlightBoxFour p {

        font-size: 11px !important;

    }

    .singleFlightBoxFour span {

        font-size: 10px !important;

    }

    .singleFlightBoxOne span {

        font-size: 10px !important;

    }

    .singleFlightBoxOne p {

        font-size: 10px !important;

    }

    .singleFlightBoxOne img {
        width: 24px !important;
    }

    .singleFlightBoxSeven button {

        font-size: 10px !important;
        padding: 8px 7px !important;

    }

    .singleFlightBoxSeven p {
        font-size: 13px !important;
        font-weight: 700;
        color: #21325d;
        font-family: 'Montserrat';
    }

    .singleFlightBoxOne {
        display: none !important;
    }

    .mobileflexDesign {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 10px 0px;
        border-radius: 8px;
        /* border: 1px solid #9e9e9e; */
        background-color: #fffbfb;
        padding: 15px 10px;
        width: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .columnFLightName {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }

    .columnFLightName img {
        width: 22px;
    }

    .columnFLightName span,
    .columnFLightName p {
        font-size: 10px;
        font-weight: 500;
    }


    .mainimgFlightSearch {

        height: 122px !important;
    }

    .martop {

        margin-top: -23px !important;
    }

    .bookbottomBox {
        display: flex;
        padding: 16px;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 8px;
        border: 0.5px solid #ddd;
        background: #F9EDED;
        flex-wrap: nowrap !important;
        overflow: hidden !important;
        width: 100% !important;
        overflow-x: scroll !important;
        white-space: nowrap !important;
    }


    .bookaboveBox p {

        font-size: 13px !important;
    }

    .bookaboveBox>div>.aboveSpan span {

        font-size: 11px !important;

    }

    .bookaboveBox>div>.aboveSpan .aboveSOne {

        font-size: 10px !important;

    }

    .bookcenteredBox div img {
        width: 26px !important;
        border-radius: 4px;
    }

    .bookbottomBox .bookBottomOne p {
        font-size: 12px !important;
    }

    .bookbottomBox .bookBottomThree p {

        font-size: 12px !important;

    }

    .bookBottomFour {
        padding-left: 12px !important;
    }

    .bookbottomBox .bookBottomTwo img {
        width: 20px !important;
        height: 50px !important;
    }

    .bookcenteredBox span {

        font-size: 12px !important;
        font-weight: 600;

    }

    .bookNowCancel .bookCancleOne p {

        font-size: 14px !important;

    }

    .bookNowCancel .bookCancleOne>div img {
        width: 26px !important;
        border-radius: 4px;
    }

    .bookCancleOne span {
        font-size: 12px !important;

    }

    .bookCancleTwo>span {
        word-wrap: nowrap;
        margin-right: 20px;
        font-size: 12px;
    }


    .svgLineBox svg {
        position: relative;
        width: 160px !important;
    }

    .svgLineBox .svgCircle {

        width: 10px !important;
        height: 10px !important;

    }

    .bookCancleTwo {

        font-size: 9px !important;

    }


    .headingBookFlight h3 {

        font-size: 14px !important;

    }

    .bookAdultIndex p {
        font-size: 13px !important;
    }

    .headFlight span {

        font-size: 14px !important;

    }

    .totCOmmFlight>div span {
        font-size: 12px !important;
    }

    .totCOmmFlight>div p {
        font-size: 12px !important;
    }

    .priceChart {
        font-size: 13px;
    }

    .TotGstFlight {
        font-size: 13px;
    }

    .smallButtMobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bookWrapperButton {
        font-size: 12px !important;
    }


    .HotelResultSearchBarBox {

        flex-direction: column !important;
        gap: 12px !important;
        align-items: center !important;

    }

    .mainimgHotelSearchResult {
        height: 217px !important;
    }

    .hotelResSurBox h3 {
        font-size: 17px !important;
    }

    .hotelResSurBox {
        text-align: center !important;
    }

    .hotelResSurBox p {
        font-size: 13px !important;
    }



    /* hotel search result  */

    .hotleTitle {
        font-size: 16px !important;
    }

    .hotelResultBoxSearch {
        flex-direction: column !important;
    }

    .hotelResultBoxSearch>div {
        display: flex;
        flex-direction: column !important;
    }

    .hotelResultDetails {
        flex: 100% 1 !important;
        width: 100% !important;
        margin-top: 3px !important;
        gap: 5px !important;
        padding: 9px 15px !important;
    }

    .hotelImage {
        padding: 15px 15px 0px 15px !important;
    }

    .hotelImage img {
        width: 100% !important;
        height: 240px !important;
        border-radius: 10px;
    }

    .priceBookHotel {
        margin-top: 0 !important;
        padding: 0px 15px 15px 15px !important;
        align-items: center !important;
    }

    .priceBookHotelOne {
        padding: 0 !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
        width: 100%;
    }

    .priceBookHotelOne h4 {
        margin-bottom: 0;
    }

    .priceBookHotelOne p {
        font-size: 16px !important;
    }



    .busimgcontainer>img:first-child {
        width: 47% !important;
        height: 47% !important;
        border-radius: 2%;
    }

    .funnyfact h3,
    .funnyfact h5 {
        font-size: 13px !important;
        font-weight: 900 !important;
        color: #21325d !important;
        /* text-shadow: 1px 1px 2px black; */
        font-family: 'Montserrat';
        text-align: center;
    }

    /* hotel search result  */


    /* hotel book now  */

    .mainimgHotelSearch {

        height: 138px !important;

    }


    .hotelTitleBoxAccord h3 {

        font-size: 15px !important;

    }

    .ratigText {
        font-size: 12px !important;
    }


    .starIMMMG img {
        width: 15px;
    }


    .dynamicHotelimg img {
        height: 189px !important;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-bottom: 10px;
    }


    .hotelImageBoxBook h4 {

        font-size: 14px !important;
        text-align: center;
    }

    .hotelBookHighlight h4 {
        font-size: 14px !important;

    }

    .hotelBookHighlight p {
        font-size: 13px;
    }


    .roomCompo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 15px;
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .offer_area {
        width: unset !important;
    }

    .bokknnbuuu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bookNowButton {
        font-size: 13px !important;
    }


    .hotelDetails {
        display: flex;
        flex-direction: column-reverse !important;
        gap: 10px;
        justify-content: center;
        background-color: #FFF;
        padding: 15px;
        border-radius: 8px 8px 0px 0px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        z-index: 1;
        position: relative;
    }

    .hotelImageReview {
        width: 100%;
    }

    .hotelImageReview img {
        width: 100% !important;
        height: 180px;
        border-radius: 8px;
    }

    .hotelName {
        font-size: 15px !important;
        color: #21325D;
        font-weight: bold;
    }


    .addReview {
        width: 100% !important;
        font-size: 13px;
    }

    .text-hotelName {
        font-size: 14px !important;
    }

    .roomDetails p {
        font-weight: 600;
        font-size: 13px;
    }

    .roomDetailsReviewDesc .col-lg-4 {
        margin-bottom: 10px;
    }


    .roomDetailsReviewDesc p {

        font-size: 12px !important;

    }

    .roomDetailsReviewDesc h2 {
        font-size: 11px !important;
    }

    .roomDetailsReviewDesc span {

        font-size: 11px !important;

    }

    .hotelReviewAmetnities p {
        font-weight: 600;
        font-size: 13px;
    }


    .hotelNameAccord p {
        font-size: 13px !important;
    }

    .reviewDescriptionButton button {
        font-size: 13px !important;
    }

    /* hotel book now  */
}