.footer {
  padding: 100px 40px 20px 40px;
  /* background-color: #dc817e; */
  /* background-image: linear-gradient(to bottom, #dc817e, #d90429); */
  /* background-color: #ddd; */
  border-radius: 100px 100px 0px 0px;
  /* border-top-right-radius: 50px; */
  color: white !important;
  position: relative !important;
  bottom: 0 !important;
  margin-top: 40px;
}

.footer a:hover {
  color: #21325d !important;
}

.footer a {
  color: #21325d;
  /* color: white; */
  text-decoration: none;
  font-weight: 600;
}

.footer h5 {
  font-size: 22px;
  color: #21325d;
  font-weight: 800;
}

.addressFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addressFooter span {
  width: 50%;
  text-align: center;
  color: #21325d;
  font-weight: 600;
}

.addressFooter p {
  color: #21325d;
  font-weight: 600;
  font-size: 18px;
}

.footer svg {
  color: #21325d;
}

.footer li {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 7px 0px;
  transition: all 0.2s;
}

.footer li > button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #dc817e;
  color: #21325d;
  font-weight: 600;
}

.footer li:hover {
  gap: 10px;
}

.footer .footerIconBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.footerIconBox svg {
  font-size: 25px;
}
